ul.list-group.mb-3
    li.list-group-item
        a.text-dark(href='/users/dashboard') Dashboard
    li.list-group-item
        a.text-dark(href=`/users/profile/${user.id}`) Profile
    if user.role ==1
        li.list-group-item
            a.text-dark(href='/users') Users